/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	#tohash {
		display: none;
	}
	#home-slider .caption h1 {
		position: relative;
		font-size: 38px;
	}
	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.navbar-brand a h1 img {
		margin-top: -5px;
	}
	.navbar-brand span {
		display: none;
	}
	.navbar-phone {
		margin-top: 15px;
	}
	.navbar-phone ul li {
		font-size: 18px;
		margin-bottom: 2px;
	}
	.service-icon {
		height: 85px;
		line-height: 83px;
		width: 85px;
	}
	.service-icon img {
		width: 50px;
		height: 50px;
	}
	.service-info h3 {
		font-size: 16px;
		margin-top: 15px;
		margin-bottom: 45px;
	}
	.service-info p {
		font-size: 14px;
		line-height: 18px;
		margin-top: -40px;
	}
	.folio-overview a {
		font-size: 30px;
		height: 60px;
		width: 60px;
		line-height: 60px;
		margin-top: 10px;
		margin-right: 5px;
	}
}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
	.parallax {
		background-attachment: initial;
	}
	#tohash {
		display: none;
	}
	#home-slider .caption h1 {
		position: relative;
		font-size: 25px;
	}
	#home-slider .caption {
		font-size: 12px;
		padding: 0 30px;
	}
	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-to-catalogues {
		font-size: 12px;
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
		border:1px solid #fff;
	}
	.navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
	}
	.navbar-brand .img-responsive {
		height: 25px;
		margin-top: 5px;
	}
	.navbar-brand span {
		display: none;
	}
	.navbar-phone ul li a {
		display: inline-block;
	}
	.navbar-phone ul li span {
		display: none;
	}
	.navbar-phone {
		margin-top: 6px;
		overflow: hidden;
	}
	.navbar-phone ul {
		margin-left: -35px;
		margin-top: -3px;
	}
	.navbar-phone ul li {
		margin-bottom: -10px;
	}
	.navbar-phone ul li i,
	.navbar-phone ul li a {
		font-size: 15px;
	}


	/*services*/
	section {
		padding: 45px 0;
	}
	.heading {
		font-size: 14px;
		padding-bottom: 25px;
	}
	.heading h2 {
		font-size: 26px;
	}
	.service-info h3 {
		font-size: 20px;
	}
	.our-services .col-sm-4 {
		margin-bottom: 32px;
		padding-bottom: 20px;
	}
	.our-services .col-sm-4:nth-child(4), 
	.our-services .col-sm-4:nth-child(5), 
	.our-services .col-sm-4:nth-child(6) {
		padding-top: 0;
	}
	.service-icon {
		height: 85px;
		line-height: 83px;
		width: 85px;
	}
	.service-icon img {
		width: 60px;
		height: 60px;
	}
	.service-info h3 {
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 45px;
	}
	.service-info p {
		margin-top: -45px;
		margin-bottom: 45px;
	}
	.about-info {
		margin-top: -20px;
		margin-bottom: -20px;
	}
	#about-us .about-info > h2 {
		font-size: 22px;
	}
	.contact-list {
		font-size: 15px;
	}
	ul.contact-list li:nth-child(1) a,
	ul.contact-list li:nth-child(2) a {
		display: inline-block;
	}
	ul.contact-list li:nth-child(1) span,
	ul.contact-list li:nth-child(2) span {
		display: none;
	}
	#contact-us {
		background-attachment:initial;
	}
	#contact-us .heading {
		padding-top: 35px;
	}
	.contact-info {
		padding-left: 30px;
	}
	#footer .footer-top {
		height: 40px;
		padding: 5px 0;
	}
	.footer-logo a img {
		height: 20px;
	}
	#footer .footer-bottom p.pull-right {
		float: none !important;
		font-size: 12px;
	}
}

/* xs portrait */
@media (max-width: 479px) {

	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#catalogues .col-sm-3, 
	.blog-posts .col-sm-4 {
		width:100%;
		float: none;
	}
}

@media (min-width: 266px) and (max-width: 318px) {
	.navbar-brand {
		display: none;
	}
	.navbar-phone ul {
		margin-left: -5px;
	}
}

